SITE_PORT=3000
SUPABASE_STUDIO_PORT=4080

USE_SAAS_UX=false

# In addition to a randomly-generated, per-password "salt" value, this value will be added to every password before hashing.
#
# This helps increase security in the case that the database is compromised but the application itself is not.
#
# This value makes no difference unless it is kept secret.
#
# Generating a cryptographically-secure random value on different OSes:
# * On Windows, you can run the PowerShell command `[Convert]::ToBase64String([System.Security.Cryptography.RandomNumberGenerator]::GetBytes(16))`
# * On Linux or MacOS, you can run the bash command `openssl rand -base64 16`
PASSWORD_PEPPER = ''


# Secret Key provided by your CAPTCHA service of choice.
#
# Not needed if the CAPTCHA provider is set to `none`.
#
# See the captcha section in the config YAML file for more information.
CAPTCHA_SECRET_KEY = some-secret-here




# The Secret Key for Supabase (formerly known as the Service Role Key)
#
# This key grants full access to every Supabase service.
# It should be kept absolutely secret.
SUPABASE_SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q


# The Publishable Key for Supabase (formerly known as the Anon Key)
#
# The Publishable Key is a layer of authentication for otherwise-unauthenticated actions on your Supabase project.
# An access token for unauthenticated users, if that makes sense.
# It has very few privileges.
#
# The Publishable Key is public and should be treated as such.
SUPABASE_PUBLISHABLE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE



# SHA-256 fingerprint(s) of the Android app's signing certificate(s).
#
# Required for Android App Links and WebAuthn.
#
# If using the default Android app, use the default value.
# If using a custom Android app, you will need to provide the SHA-256 fingerprint(s) of the signing certificate(s).
# Do not overwrite the original value or you will be UNABLE to use the default app.
#
# This value is comma-separated and ignores whitespace. For example, `AB:CD:...:MN:OP, HI:JK:...:UV:WX` is valid.
ANDROID_APP_SHA256_CERT_FINGERPRINTS=  CA:0A:65:74:A8:37:39:D2:FD:03:DD:8D:B0:52:A8:65:7F:93:DA:06:04:B0:1E:04:EF:B6:12:5D:BA:6B:52:CC





############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=your-super-secret-and-long-postgres-password
JWT_SECRET=your-super-secret-jwt-token-with-at-least-32-characters-long
DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=this_password_is_insecure_and_should_be_updated


LOGFLARE_LOGGER_BACKEND_API_KEY=your-super-secret-and-long-logflare-key

# Change vector.toml sinks to reflect this change
LOGFLARE_API_KEY=your-super-secret-and-long-logflare-key

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/run/user/1000/docker.sock



############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres



############
# Supavisor -- Database pooler
############
POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100




############
# API Proxy - Configuration for the Kong Reverse proxy.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443




############
# Studio - Configuration for the Dashboard
############

STUDIO_PROJECT_NAME=Stockedhome

# replace if you intend to use Studio outside of localhost
SUPABASE_PUBLIC_URL=http://localhost:${SUPABASE_STUDIO_PORT}



############
# Logs - Configuration for Logflare
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

# Google Cloud Project details. Uncomment both in here and in Docker Compose to use.
#GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
#GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER




# OPTIONAL: URL of your web server, used for SEO metadata
# NEXT_PUBLIC_BASEURL = 'https://self.bellcube.dev/'
